div.hbox {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  flex: 0 0 auto;
}

div.input-field {
  flex: 1 0 auto;
  color: rgba(0, 0, 0, 0.87);
}

button.btn {
  margin: auto 1em;
}

input {
  color: rgba(0, 0, 0, 0.87);
}
