@import '~materialize-css/sass/materialize.scss';
@import '~xterm/dist/xterm.css';

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.layout {
  margin: 1em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  display: flex;
  flex-flow: column nowrap;
}
